<section>
    <section
            style="margin-top: 10px;margin-bottom: 10px;outline: 0px;font-size: 14px;letter-spacing: 1px;background-color: #ffffff;visibility: visible;font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;">
        <section
                style="padding: 10px;outline: 0px;box-shadow: rgb(90,120,234) 0px 0px 5px inset;border-radius: 0.6em;border-color: rgb(255, 255, 255);border-width: 1px;border-style: solid;visibility: visible;">
            <section style="outline: 0px;color: #333333;text-align: center;visibility: visible;">
                <section style="outline: 0px;">
                    <p style="text-align: center;outline: 0px;"><strong style="font-size: 17px;text-align: center;">免责声明
                        <mpchecktext contenteditable="false" id="1701330421496_0.24439792858746956"></mpchecktext>
                    </strong></p>
                    <p style="text-align:left;outline: 0px;">
                        本公众号分享的所有资源均来源于互联网公开分享的内容，本内容仅用于个人学习使用，禁止用于其他商业用途以及倒卖，如有真正使用条件需求，请联系并支持版权方。
                        <mpchecktext contenteditable="false" id="1701330421497_0.4975556335290088"></mpchecktext>
                    </p>
                </section>
            </section>
        </section>
    </section>
    <hr style="outline: 0px;letter-spacing: 0.544px;background-color: #ffffff;color: #333333;border-style: solid;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-color: rgba(0, 0, 0, 0.1);transform-origin: 0px 0px;transform: scale(1, 0.5);-webkit-transform: scale(1, 0.5);-moz-transform: scale(1, 0.5);-o-transform: scale(1, 0.5);">
    <section
            style="margin-right: 16px;margin-left: 16px;outline: 0px;letter-spacing: 0.544px;background-color: #ffffff;color: #333333;font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;">
        <h2 data-tool="mdnice编辑器"
            style="font-weight: bold;font-size: 22px;line-height: 1.5em;margin-bottom: 20px;margin-top: 30px;"><span
                style="display: inline-block;background-image: linear-gradient(rgb(255, 255, 255) 70%, rgb(255, 177, 27) 30%);background-position: initial;background-size: initial;background-repeat: initial;background-attachment: initial;background-origin: initial;background-clip: initial;color: rgb(81, 81, 81);padding: 2px 13px;margin-right: 3px;height: 50%;font-size: 16px;">资源获取<mpchecktext
                contenteditable="false" id="1701330421498_0.09836558666085282"></mpchecktext></span></h2>
    </section>
    <p style="text-align:center;margin-bottom: 5px;outline: 0px;letter-spacing: 0.544px;color: #333333;line-height: 2em;font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;">
        <span style="font-size: 14px;outline: 0px;color: rgb(178, 178, 178);"><strong style="outline: 0px;"><span
                style="outline: 0px;letter-spacing: 2px;">下方公众号【</span></strong></span><span
            style="outline: 0px;font-size: 14px;color: rgb(0, 82, 255);"><strong style="outline: 0px;"><span
            style="font-size: 14px;outline: 0px;letter-spacing: 2px;">抠腚男孩</span></strong></span><span
            style="font-size: 14px;outline: 0px;color: rgb(178, 178, 178);"><strong style="outline: 0px;"><span
            style="outline: 0px;letter-spacing: 2px;">】对话框<mpchecktext contenteditable="false"
                                                                          id="1701330421499_0.17730680623659567"></mpchecktext></span></strong></span>
    </p>
    <p style="text-align: center;letter-spacing: 0.544px;color: rgb(51, 51, 51);line-height: 2em;font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;outline: 0px;">
        <span style="font-size: 14px;outline: 0px;color: rgb(178, 178, 178);outline: 0px;letter-spacing: 2px;"><strong>回复关键词【</strong></span><span
            style="font-size: 14px;outline: 0px;letter-spacing: 2px;color: rgb(255, 79, 121);"><strong>00001</strong></span><span
            style="font-size: 14px;outline: 0px;color: rgb(178, 178, 178);outline: 0px;letter-spacing: 2px;"><strong>】获取本期资源<mpchecktext
            contenteditable="false" id="1701330421500_0.08316160786404425"></mpchecktext></strong></span></p>
    <p style="text-align:center;margin-top: 5px;margin-bottom: 5px;outline: 0px;letter-spacing: 0.544px;color: #333333;line-height: 1.75em;font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;">
        <span style="outline: 0px;color: #b2b2b2;"><strong style="outline: 0px;"><span
                style="outline: 0px;letter-spacing: 2px;">▽▽▽<mpchecktext contenteditable="false"
                                                                          id="1701330421501_0.17470086578533217"></mpchecktext></span></strong></span>
    </p>
    <section class="mp_profile_iframe_wrp custom_select_card_wrp">
        <mp-common-profile class="js_uneditable custom_select_card mp_profile_iframe mp_common_widget"
                           data-pluginname="mpprofile" data-id="MzUyNzQ0ODIzNg=="
                           data-headimg="http://mmbiz.qpic.cn/mmbiz_png/GoRPyTxk6kDia4Jg70W99EN6S3AeswMib9PicTyJSPdJMDbNAbrWLq874IefQBIdND8UoeM8PiaiaAAZVeoL0ica30MQ/0?wx_fmt=png"
                           data-nickname="抠腚男孩" data-alias="python-lsj"
                           data-signature="咸鱼Android，会点Python，佛系运营，偶尔发发文章，不限于技术..." data-from="0"
                           data-is_biz_ban="0" contenteditable="false"></mp-common-profile>
    </section>
    <p style="text-align:center;margin-top: 5px;margin-bottom: 5px;outline: 0px;letter-spacing: 0.544px;color: #333333;line-height: 1.75em;font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;">
        <span style="outline: 0px;color: #b2b2b2;"><strong style="outline: 0px;"><span
                style="outline: 0px;letter-spacing: 2px;"></span></strong></span></p></section>